[Unit]
Description=chiatter data collection agent
After=network.target

[Service]
Type=simple
User=username
StandardOutput=null
WorkingDirectory=/home/username/chiatter/scripts
ExecStart=/home/username/chiatter/scripts/chiatter.py

[Install]
WantedBy=multi-user.target

